package ${packageName}.dao.mapper;

import com.baomidou.mybatisplus.mapper.BaseMapper;
import com.baomidou.mybatisplus.plugins.pagination.Pagination;
import ${packageName}.entity.${ClassName};
import ${packageName}.form.${ClassName}Form;
import ${packageName}.model.${ClassName}Model;

import java.util.List;

/**
 * ${functionName}Mapper接口
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface ${ClassName}Mapper extends BaseMapper<${ClassName}> {

    /**
    * 分页查询 ${functionName} Model
    * @param pager 分页参数
    * @param form 条件 form
    * @return List<${ClassName}Model>
    */
    List<${ClassName}Model> selectModelList(Pagination pager, ${ClassName}Form form);

}
